@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  font-family: "Manrope", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Manrope", sans-serif;
  overflow: hidden;
}

header {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 90px;
  padding: 0 40px;
}

header .logo-2 {
  font-size: 30px;
  font-weight: 800;
}

header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .navbar ul a {
  text-decoration: none;
  color: black;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 500;
}

header .action-btn a {
  text-decoration: none;
  color: white;
  background: black;
  padding: 15px;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 500;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.container .content {
  height: calc(100vh - 90px);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .content .shape1 {
  position: absolute;
  width: 900px;
  height: 500px;
  background: -webkit-gradient(linear, right top, left top, from(#444444), to(#a7a7a7));
  background: linear-gradient(to left, #444444, #a7a7a7);
  border-radius: 20px;
  right: -400px;
  z-index: -1;
}

.container .content .shape2 {
  position: absolute;
  width: 920px;
  height: 520px;
  border: 3px dashed #27aa23;
  border-radius: 20px;
  right: -200px;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  z-index: -2;
  opacity: 0.7;
}

.container .content .shape3 {
  position: absolute;
  height: 155px;
  width: 900px;
  background: #27aa23;
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
          clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  z-index: -1;
  bottom: 67px;
  left: -240px;
  opacity: .8;
}

.container .content .shape4 {
  position: absolute;
  height: 155px;
  width: 900px;
  background: #27aa23;
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
          clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  opacity: 0.2;
  z-index: -1;
  bottom: 77px;
  left: -220px;
}

.container .content .left-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  z-index: -1;
}

.container .content .left-info .left-top {
  font-weight: 500;
  font-size: 6rem;
  -webkit-transform: translate3d(0, -100px, 0);
          transform: translate3d(0, -100px, 0);
  text-shadow: -2px 4px 12px rgba(0, 0, 0, 0.2);
}

.container .content .left-info .left-top .percent {
  font-weight: 600;
  font-size: 7.5rem;
}

.container .content .left-info .testimonial {
  font-weight: 300;
  font-size: 3rem;
  font-style: italic;
  width: 70%;
  -webkit-transform: translate3d(-80px, 60px, 0);
          transform: translate3d(-80px, 60px, 0);
}

.container .content .card {
  -webkit-transform: scale(1.2) translate3d(-20px, 0px, 0);
          transform: scale(1.2) translate3d(-20px, 0px, 0);
}
/*# sourceMappingURL=style.css.map */