@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");


$primary-color: #d5dedc;

* {
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
}

section {
    background: $primary-color;
}
html,
body {
  font-family: "Manrope", sans-serif;

}

header {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 90px;
  padding: 0 40px;
  background: $primary-color;
  

  .logo-2 {
    font-size: 30px;
    font-weight: 800;
  }

  .navbar {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        text-decoration: none;
        color: black;
        padding: 0 30px;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }

  .action-btn {
    a {
      text-decoration: none;
      color: white;
      background: black;
      padding: 15px;
      //   border-radius: 20px;
      width: 160px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  background: $primary-color;

  .content {
    height: calc(100vh - 90px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;


    .left-info {
      font-weight: 700;
      font-size: 5rem;
      width: 50%;
      padding-right: 111px;
      margin-right: 175px;
    }


  }
}
